.carousel {
    width: 100%;
    margin: 0 auto
}

.carousel-item {
    z-index: -100;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.carousel-item:nth-child(1) {
    background-image: url('https://cdn-1.motorsport.com/images/amp/2wB4peb0/s6/f1-2021-rules-1.jpg')
}

.carousel-item:nth-child(2) {
    background-image: url('https://storage.googleapis.com/the-race-com.appspot.com/1/2021/06/XPB_1088469_HiRes.jpg')
}

.carousel-item:nth-child(3) {
    background-image: url('https://mb.web.sapo.io/20bec17326e461c884b7ec6ede85727b32cffb1e.jpg')
}